soc_sram_func/run_vivado/mycpu_prj1/mycpu.tmp/
soc_sram_func/run_vivado/mycpu_prj1/mycpu.cache/
soc_sram_func/run_vivado/mycpu_prj1/mycpu.hw/
soc_sram_func/run_vivado/mycpu_prj1/mycpu.ip_user_files/
soc_sram_func/run_vivado/mycpu_prj1/mycpu.runs/
soc_sram_func/run_vivado/mycpu_prj1/mycpu.sim/sim_1/behav/xsim/
soc_sram_func/run_vivado/mycpu_prj1/.Xil/
soc_sram_func/run_vivado/mycpu_prj1/*.jou
soc_sram_func/run_vivado/mycpu_prj1/*.log
soc_sram_func/run_vivado/mycpu_prj1/*.dcp